<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="lmk-onprem-deployments" value="https://pkgs.dev.azure.com/lmk-onprem-deployments/_packaging/lmk-onprem-deployments/nuget/v3/index.json" />
	</packageSources>
</configuration>